/* header.module.css */
.headerContainer {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.header h1 {
  color: #fff;
}

.header h2 {
  color: #fff;
}

.contactDetails {
  margin-top: 1em;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.socialIcons a {
  margin: 0 1em;
  text-decoration: none;
  color: #fff;
}

.socialIcons img {
  width: 40px;
  height: 40px;
}
